<h1 align = "center">Welcome to the Aldo webapp</h1>

<p align = "center"> New User? <%= link_to "Sign up now!", new_customer_path %></p>


<p align = "center"><%= image_tag("aldo1.jpg", :size => "700x400") %></p>

